<html>
    <head>
        <title>Cristina Ayala</title>
    </head>
    <body>
        <div>
            <h1><a href="">Cristina Ayala</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">peluche</a></h2>
            <p>no quiero regresarlo XD pero me toca voy a llorar</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">cansada </a></h2>
            <p>llego a dormir .</p>
        </div>
    </body>
</html>
Aquí hemos creado tres secciones div.